/* Base Application Styles */

// body {
//   color: #fff;
//   background: #222;
// }
// .index img {
//   margin: 40px auto;
//   border-radius: 4px;
//   background: #fff;
//   display: block;
// }
// .index .notice {
//   margin: 20px auto;
//   padding: 15px 0;
//   text-align: center;
//   border: 1px solid #000;
//   border-width: 1px 0;
//   background: #666;
// }
html,
body {
    background: #222;
    width: 100%;
    height: 100%;
}

.content {
    height: 100%;
    width: 100%;
}


/*修饰舞台结构--start*/

@media screen and (min-width:1200px){
  .stage
  {
    position: relative;
    width: 99.5%;
    height: 860px;
    margin:0 auto;
  }

}
@media screen and (min-width:800px){
  .stage
  {
    position: relative;
    width: 99.5%;
    height: 860px;
    margin:0 auto;
  }

}
@media screen and (max-width:800px){
  .stage
  {
    position: relative;
    width: 99.5%;
    height: 860px;
    margin:0 auto;
  }

}


/*stage --end*/


/*image --start*/

.img-sec {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #ddd;
    @at-root {
        .img-figure {
            position:absolute;
            width: 320px;
            height: 400px;
            margin: 0;
            padding: 40px;
            background-color: #fff;
            box-sizing: border-box;
            img {
                height: 240px;
                width: 240px;

            }
        }
        figcaption{
          text-align:center;
          .img-tittle{
                  margin:20px 0 0 0;
                  color:#a7a0a2;
                  font-size:16px;
                }
        }
    }
}


/*image --end*/


/*controlller --start*/


/* controller -- start */
.controller-nav {
    position: absolute;
    left: 0;
    bottom: 30px;
    z-index: 101;

    width: 100%;

    text-align: center;

    @at-root {
        .controller-unit {
            display: inline-block;
            margin: 0 5px;
            width: 30px;
            height: 30px;

            text-align: center;
            vertical-align: middle;

            cursor: pointer;
            background-color: #aaa;
            border-radius: 50%;

            transform: scale(.5);
            transition: transform .6s ease-in-out, background-color .3s;

            &.is-center {
                background-color: #888;

                transform: scale(1);

                &::after {
                    color: #fff;
                    font-family: "icons-turn-arrow";
                    font-size: 80%;
                    line-height: 30px;

                    content: "\e600";

                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                }

                &.is-inverse {
                    background-color: #555;

                    transform: rotateY(180deg);
                }
            }
        }
    }
}
/* controller -- end */