/* Base Application Styles */

// body {
//   color: #fff;
//   background: #222;
// }
// .index img {
//   margin: 40px auto;
//   border-radius: 4px;
//   background: #fff;
//   display: block;
// }
// .index .notice {
//   margin: 20px auto;
//   padding: 15px 0;
//   text-align: center;
//   border: 1px solid #000;
//   border-width: 1px 0;
//   background: #666;
// }
html,
body {
    background: #222;
    width: 100%;
    height: 100%;
}

.content {
    height: 100%;
    width: 100%;
}


/*修饰舞台结构--start*/

.stage {
    position: relative;
    width: 100%;
    height: 680px;
}


/*stage --end*/


/*image --start*/

.img-sec {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #ddd;
    @at-root {
        .img-figure {
            width: 320px;
            height: 360px;
            margin: 0;
            padding: 40px;
            background-color: #fff;
            box-sizing: border-box;
            img {
                height: 240px;
                width: 240px;

            }
        }
        figcaption{
          text-align:center;
          .img-tittle{
                  margin:20px 0 0 0;
                  color:#a7a0a2;
                  font-size:16px;
                }
        }
    }
}


/*image --end*/


/*controlller --start*/

.controller-nav {
    position: absolute;
    left: 0;
    bottom: 30px;
    z-index: 101;
    width: 100%;
    text-align: center;
}
